<div
  class="modal fade"
  id="managersModal"
  tabindex="-1"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div
    class="modal-dialog modal-lg"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLabel3"
        >
          {{ formData ? 'Edit' : 'New' }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeCurrentModal()"
        ></button>
      </div>
      <section class="modal-body">
        <form
          [formGroup]="form"
          class="accordion mt-3"
          id="accordion"
        >
          <div>
            <app-account-information
              [formData]="formData"
              (form)="addForm('accountInformationForm', $event)"
            ></app-account-information>
          </div>
          <div class="mt-3 mb-3">
            <app-contact-information
              [formData]="formData"
              (form)="addForm('contactInformationForm', $event)"
            ></app-contact-information>
          </div>
        </form>
      </section>

      <div class="modal-footer">
        <button
          type="button"
          class="btn rounded-pill btn-outline-secondary"
          data-bs-dismiss="modal"
          (click)="closeCurrentModal()"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn rounded-pill btn-dark"
          (click)="onSubmit()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
