/* You can add global styles to this file, and also import other style files */
@import 'boxicons';

* {
  box-sizing: border-box;
  font-family: 'AeonikPro', sans-serif;
}

body {
  background-color: #f2f4f4;
}

i.bx {
  font-size: 24px;
  color: #004851;
}

.btn.btn-icon.btn-outline-secondary {
  &:hover {
    i.bx {
      color: #fff;
    }
  }
}
